.catalog-content {
    grid-template-columns: 1fr;
}

.blog-content {
    width: 100%;
    flex-direction: column;
}

.newsletter {
    flex-direction: column;
}

.newsletter form {
    position: relative;
    justify-content: center;
}

#bd-email {
    border: none;
    outline: 1px solid white;
    background-color: transparent;
    color: var(--color-text);
    z-index: 2;
    cursor: pointer;
    font-size: var(--font-size-mid);
}

form button {
    width: 100%;
}

.tag-list {
    list-style: none;
}
