.catalog-content {
    grid-template-columns: 1fr;
}

.blog-content {
    width: 100%;
    flex-direction: column;
}

.paragraph {
    flex-direction: column;
    justify-content: left;
}

.paragraph p {
    line-height: 1.5;
}

.newsletter {
    flex-direction: column;
}

.newsletter form {
    position: relative;
}

form label {
    position: absolute;
    opacity: 0.6;
    z-index: 0;
    color: var(--color-text);
}

#bd-email {
    border: none;
    outline: 1px solid white;
    background-color: transparent;
    color: var(--color-text);
    z-index: 1;
}

@media screen and (min-width: 1280px) {
    .paragraph {
        margin-left: var(--space-4);
    }
}

