main {
    overflow-y: hidden;
}

/* -------------------- CATALOG -------------------- */

.suggestion {
    position: absolute;
    font-family: var(--poppins);
    color: var(--color-text);
    opacity: 0.4;
    padding: var(--space-1);
    font-size: var(--font-size-mid);
}

.catalog {
    flex-direction: column;
}

.catalog-menu {
    justify-content: space-between;
    position: relative;
    background-color: rgb(68, 68, 83);
}

.catalog-tags {
    z-index: 1;
    margin-bottom: calc(var(--space-1) / 2);
    position: relative;
    flex-direction: column;
}

.tag-area {
    max-height: 5vh;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 2;
}

.tag-list {
    flex-wrap: wrap;
    flex-direction: row;
}

.tag-input {
    color: var(--color-text);
    z-index: 3;
}

.tag-suggestion {
    position: absolute;
    font-size: var(--font-size-mid);
}

.tag-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag-item span {
    margin: calc(var(--space-1) / 8) calc(var(--space-1) / 4);
    padding: calc(var(--space-1) / 8) calc(var(--space-1) / 4);
}

.tag-input.suggestion::before {
    content: attr(data-suggestion);
    position: absolute;
    opacity: 0.3;
    pointer-events: none;
    font-size: var(--font-size-mid);
}

.tag-item span:hover {
    cursor: pointer;
}

.tag {
    background-color: #ccc;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
    position: relative;
}

.remove-tag {
    cursor: pointer;
}

.search-projects-input,
input {
    width: 100%;
    color: var(--color-text);
    outline: none;
    border: none;
    background: none;
    box-shadow: none;
    font-size: var(--font-size-mid);
}

.sort-projects {
    position: relative;
}

.sort-menu-btn {
    color: var(--color-text);
}

.sort-menu-btn:hover {
    color: var(--color-bg);
    background-color: var(--color-focus);
}

.sortmenu {
    z-index: 3;
    color: var(--color-text);
    position: absolute;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    background-color: var(--color-overlay);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    top: 0;
    width: 200%;
}

.sortmenu a {
    position: relative;
}

.sortmenu a:hover {
    color: var(--color-bg);
    background-color: var(--color-focus);
}

.sortmenu-deployed {
    max-height: 600px;
}

.catalog-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: calc(var(--space-1) / 2);
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - var(--space-3) - (var(--space-1) / 2));
    z-index: 0;
}

.project {
    background-color: #0e1120;
    padding: var(--space-2);
    max-width: 100%;
    min-height: 40vh;
    max-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}

.prbg {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    opacity: 0.3;
}

.project:hover {
    transform: translateY(-0.5rem);
    box-shadow: var(--shadow);
}

.project:hover .prbg {
    opacity: 0.4;
}

.project-description {
    color: var(--color-text);
    font-family: var(--poppins);
    font-size: var(--font-size-mid);
    max-height: 0px;
    overflow: hidden;
    z-index: 2;
}

.project h3 {
    z-index: 2;
}

.project .prdate {
    position: absolute;
    color: grey;
    font-family: 'Courier New', Courier, monospace;
    right: 0;
    top: 0;
    margin-top: 2vh;
    margin-right: var(--space-1);
    transform-origin: right;
    rotate: -90deg;
}

.prlocked {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prlocked svg {
    height: 32vh;
    width: 32vw;
}

.prlocked:hover {
    cursor: not-allowed;
}

.prtags {
    margin-top: var(--space-1);
    color: white;
    font-size: var(--font-size-mid);
    font-family: var(--poppins);
    z-index: 4;
    display: flex;
    flex-wrap: wrap;
}

.prtag {
    border-radius: var(--space-2);
    padding: calc(var(--space-1) / 2) var(--space-1);
    margin: calc(var(--space-1) / 4);
    font-size: var(--font-size-mid);
    font-family: var(--poppins);
    white-space: nowrap;
}

/* ---------- PROJECTS TAGS ---------- */

.videogametag {
    background-color: red;
}

.booktag {
    background-color: blue;
}

.noveltag {
    background-color: lightblue;
    color: var(--color-bg);
}

.paintingtag {
    background-color: green;
}

.modeltag {
    background-color: yellow;
}

.conceptarttag {
    background-color: darkgreen;
}

.webtag {
    background-color: beige;
    color: var(--color-bg);
}

.designtag {
    background-color: orange;
}

.musictag {
    background-color: coral;
}

.sfxtag {
    background-color: brown;
}

.videotag {
    background-color: darkslategrey;
}

.devlogtag {
    background-color: darkred;
}

.animationtag {
    background-color: #FF69B4;
}

.photographytag {
    background-color: #800080;
    color: white;
}

.sounddesigntag {
    background-color: #4B0082;
    color: white;
}

.comictag {
    background-color: #6A5ACD;
    color: white;
}

.experimenttag {
    background-color: rgb(145, 130, 102);
}

.reviewtag {
    background-color: rgb(94, 93, 74);
}

@media screen and (max-width: 760px) {
    .project {
        justify-content: flex-end;
    }
    .project-description {
        max-height: max-content;
    }
    .catalog-content > *:last-child {
        margin-bottom: var(--space-3);
    }
}

@media screen and (min-width: 760px) {
    .project:hover .project-description {
        max-height: 300px;
    }
}

@media screen and (min-width: 1279px) {
    .catalog-content {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
    .prlocked svg {
        height: 16vh;
        width: 16vw;
    }
    .prlocked:hover svg {
        transform: scale(1.2);
    }
}
