@font-face {
    font-family: 'rpg'; /* Nom que vous donnez à la police */
    src: url('/projects/asrunn/rpg\ font\ 2.woff') format('woff2'); /* Chemin vers le fichier */
    font-weight: normal; /* Poids de la police (ex. normal, bold) */
    font-style: normal; /* Style de la police (ex. normal, italic) */
}

#intentions {
    flex-direction: column;
}

#logo {
    flex-direction: column;
}

.plank {
    max-width: 50%;
}

.logo-manuscrit-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
    max-width: 75%;
}

.logo-manuscrit-container img {
    max-width: 100%;
}

.logo-large {
    max-width: 40%;
}

.logo-complexe-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    max-width: 75%;
    gap: var(--space-2);
}

.logo-complexe-container img {
    max-width: 100%;
}

#banner, #cover {
    flex-direction: column;
}

#banner img {
    max-width: 60%;
}

#cover img {
    max-width: 40%;
}

#typo {
    flex-direction: column;
}

.rpg-font {
    font-family: rpg;
    color: var(--color-text);
    font-size: 3rem;
    max-width: 60%;
    text-wrap: wrap;
    word-break: break-word;
    overflow-wrap: break-word;
    letter-spacing: 1rem;
}

#website {
    flex-direction: column;
}

.mobile {
    flex-wrap: wrap;
}

.mobile img {
    max-width: 20%;
}

.desktop {
    flex-direction: column;
}

.desktop img {
    max-width: 70%;
}

.logo-complex-svg {
    max-width: 25%;
}

.cls-1 {
    fill: none;
    stroke: #fff;
    stroke-width: 2px;
    animation: draw 2s ease-in forwards;
}

.anim-speed {
    animation: draw 2s ease-in forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0; /* Révèle le contour complet du logo */
    }
}

@media screen and (max-width: 620px) {
    .mobile img {
        max-width: 90%;
    }

    .desktio img {
        max-width: 90%;
    }

    #banner img {
        max-width: 100%;
    }

    .plank {
        max-width: 90%;
    }

    .desktop img {
        max-width: 90%;
    }
}