.mosaic {
    column-count: 4; /* Pour les navigateurs qui ne supportent pas Masonry */
    column-gap: 10px;
    margin: 0 auto;
  }
  
  .mosaic-item {
    break-inside: avoid;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    max-width: 300px; /* Taille maximale des images */
  }
  
  .mosaic-item img {
    width: 100%;
    height: auto; /* Pour conserver les proportions */
    display: block; /* Pour supprimer les marges supplémentaires */
  }