.mosaic {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px; /* Espacement latéral */
  }
  
  .mosaic-item {
    break-inside: avoid;
    margin: 5px; /* Espacement entre les images */
    overflow: hidden;
    position: relative;
    width: calc(33.33% - 10px); /* 3 images par ligne (33.33% = 1/3) */
  }
  
  .mosaic-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }