.mosaic-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Colonnes flexibles */
    gap: 10px;
    width: 100%;
  }
  
  .mosaic-item {
    position: relative;
    overflow: hidden;
  }
  
  .mosaic-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Pour garder les proportions */
  }