button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

#theme {
    color: white;
    font-size: 2rem;
}

.theme-gen-content {
    flex-direction: column;
}

.theme-gen-content a {
    color: var(--color-focus);
    text-decoration: underline;
}