:root {
    --transition1 : 0.5s ease;
    --bg-color: rgb(10, 10, 29);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.game {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

menu {
    margin-top: 1rem;
    position: absolute;
    height: 2rem;
}

menu * {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: var(--transition1);
    padding: 1rem;
    margin: 1rem;
}

menu a:hover {
    background-color: lightblue;
    color: var(--bg-color);
} 

#board {
    background-color: skyblue;
    height: 640px;
    width: 360px;
    background-image: url('addons/flappybirdbg.png');
}